*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

/* .content {
  margin: 133px 30px;
  width: 1140px;
  height: 534px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
} */

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  margin: 133px 30px 0;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inset: 0;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 54px;
  gap: 40px;
  justify-content: start;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

/* .search-form__label {
  display: inline-block;
  width: fit-content;
} */

.search-form__textfield {
  min-width: 225px;
  appearance: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-top: 1px solid #fff;
  border-right: 0px;
  border-bottom: 1px solid #fff;
  border-left: 0px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 70%);
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: 'Oswald', Arial, sans-serif; 
  font-size: 75px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  inset: 0;
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

